@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{font-family: sans-serif;  list-style: none; text-decoration: none; margin: 0; padding: 0;}
body{color: #21489d; background-color: #f8f8f8;}
body::-webkit-scrollbar {width: 6px;}
body::-webkit-scrollbar-track {background: transparent;}
body::-webkit-scrollbar-thumb {background-color: #f14b3d;}
.menu{display: flex; justify-content: space-between; padding: 4% 6% 0% 6%; align-items: center;}
.menu li a{padding: 0px 25px; color: #21489d;}
#items-menu{display: flex; align-items: center;}
#user{cursor: pointer;}
h1{font-size: 5em; padding: 5% 0%;}
p{font-size: 1em;}
a{color: currentColor;}
.main{margin: 5% 8%; display: flex; align-items: center; justify-content: space-around;}
.part1{display: flex; align-items: center; margin: 5% 9%;}
.part1 h2{font-size: 50px; padding: 5% 0%;}
.part1 p{font-family: 'Noto Sans Mono', monospace; font-size: 18px;}
.part2{margin: 0% 8%; display: flex; align-items:center;}
.part2 h2{font-size: 50px; padding: 5% 0%;}
.part2 p{font-family: 'Noto Sans Mono', monospace; font-size: 18px;}
.part3{margin: 5% 8%; display: flex; align-items:center ;}
.part3 p{font-family: 'Noto Sans Mono', monospace; font-size: 18px; margin-bottom: 5%;}


.part4{margin: 0; display: flex; color: #21489d; text-align: justify;}
.part4 img{height: 500px; width: 325px; object-fit: cover; margin: 1% 3% 5% 0%;}
.part4 h2{margin: 1% 0%; padding: 0; font-size: 30px; text-align: justify;}
.part4 p{font-family: 'Poppins', sans-serif; font-size: 15px; margin: 1% 0% 2% 0%; padding: 0; text-align: justify;}
.part4 section{height: auto; width: auto; text-align: justify;}
.inf{margin-top: 1%;}
.inf li span{font-family: 'Poppins', sans-serif; font-size: 14px;}
button{cursor: pointer;}
#closeOng{margin-right: 2%; margin-top: -2%;}



.grifo{border-bottom: 2px solid transparent; transition: 0.1s;}
.grifo:hover{border-bottom: 2px solid #21489d;}
#hl li a{font-family: 'Noto Sans Mono', monospace; font-size: 30px; color: #f14b3d; border-left: solid 4px #f14b3d;}
.registrar{background-color: #f8f8f8; color: #21489d; border: 2px solid #21489d; font-size: 20px; padding: 12px 20px; font-family: 'Source Sans Pro', sans-serif; transition: background-color, color 0.3s;}
.registrar:hover{background-color: #21489d; color: #f8f8f8; cursor: pointer;}
footer{width: 100%; height: 50px; background-color: #f14b3d; color: #f8f8f8; margin-top: -4px; display: flex; justify-content: space-around;}
.txt-footer{font-family: 'Raleway', sans-serif; font-size: 18px;}
.txt-font{font-family: 'Raleway', sans-serif; font-size: 14px;}
.icon{background-color: #f14b3d; border: none; color: #f8f8f8; padding: 0px 10px;}
.icon:hover{filter:opacity(75%) ;}
button{background-color: transparent; border: transparent; color: currentColor;}
.cards {display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); grid-gap: 30px; max-width: 85%; margin: 0 auto 30px;}  
article{position: relative;}
.article-img{height: 300px; width: 100%; object-fit: cover; transition: transform .3s;}
.article-img:hover{transform: scale(1.01);}
.article-title {bottom: 0; margin: 10px; color: #21489d; font-family: 'Noto Sans Mono', monospace;}
.article-text {bottom: 0; padding: 0px 10px; color: #21489d; font-family: 'Noto Sans Mono', monospace;}
.modal {display: none; position: fixed; z-index: 1; padding-top: 10%; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.4);}
.modal-content {background-color: #f4f4f4; color: #161616; margin: auto; padding: 30px 25px 25px 25px; width: 40%;}


.modal-ong{display: none; position: fixed; z-index: 1; padding-top: 2%; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.4);}
.modal-content-ong{margin: 2% 7%; text-align: justify;}

.svg{margin-right: 1%;}
.svg2{margin: 0% 2%;}
.tst{display: flex; align-items: center;}




.close {color: #aaaaaa; float: right; font-size: 28px; font-weight: bold;}
.close:hover, .close:focus {color: #161616; text-decoration: none; cursor: pointer;}
.title-model{margin: 0% 0% 5% 0%; font-size: 20px;}
.txt-model{margin: 4% 0%;}
.model-cards{display: grid; grid-template-columns: repeat(auto-fill, minmax(49%, 1fr)); grid-column-gap: 10px; grid-row-gap: 10px;}  
.model-item{height: 150px; background-color: #f9f9f9; border: 2px solid transparent; color: #051D52; transition: border 0.3s;}
.model-item:hover{border: 2px solid #051D52;}
.model-title {bottom: 0;}
.usuario{margin: 5%; position: absolute;}
.img-usuario{position: absolute; bottom: 5%; right: 5%;}
#heart{cursor: pointer;}
.container{display: none;}
.side-menu-wrapper {background: #051D52; padding: 50px 0 0 35px; position: fixed; top: 0; right: 0; height: 100%; z-index: 2; transition: 0.5s; width: 250px; font-size: 20px; box-sizing: border-box;}
.side-menu-wrapper ul {list-style: none; padding: 0; margin: 0; overflow-y: auto; height: 95%;}
.side-menu-wrapper ul li a {font-family: 'Poppins', sans-serif; display: block; border-bottom: 2px solid #f9f9f9; padding: 6px 4px 6px 4px; color: #f9f9f9; transition: 0.3s; text-decoration: none;}
.side-menu-wrapper a.menu-close {padding: 8px 0 4px 23px; color: #f9f9f9; display: block; margin: -30px 0px 0px -20px; font-size: 35px; text-decoration: none;}
.menu-overlay {height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.4); overflow-y: auto; overflow-x: hidden; text-align: center; opacity: 0; transition: opacity 1s;}

@media only screen and (max-width: 1015px) {
    .main{display:block; margin: 3% 8%;}
    .main img{display: initial; width: 100%; margin-top: 2%;}
    h1{font-size: 4em; padding: 2% 0%;}
    .part1{display: block; margin: 5% 8%;}
    .part2{display: block; margin: 5% 8%}
    .part2 img{display: initial; width: 100%;}
    .part4 section{margin: 2% 6%;}
    .part4 h2{font-size: 2em;}
    .inf li section {margin: 0;}
    .inf svg{display: initial;}
    .registrar{font-size: 20px; padding: 6px 10px; margin-top: 1%;}
    img{display: none;}
    .article-img{display: initial;}
    .article-img:hover{display: initial;}
    .modal-content{width: 80%;}
}

@media only screen and (max-width: 800px) {
  #hl, #user, .menu{display: none;}
  .open-close{margin: 5% 8% 0% 8%}
  h1{font-size: 3em;}
  .part1 h2{font-size: 2em;}
  .article-title{font-size: 25px;}
  .registrar{margin-top: 2%; border: navajowhite; border-bottom: 2px solid;}
  footer{margin-top: -6px; width: auto;}
  .txt-font{display: none;}
  .icon{display: none;}
  .container {display: inline-block; cursor: pointer; margin: 6% 8% 0% 82%;}
  .bar1, .bar2, .bar3 {width: 35px; height: 5px; background-color: #21489d; margin: 6px 0;}
}